body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #333;
  color: white;
  height: 88vh;
}

/* Chat container */
.chat-container {
  display: flex;
  flex-direction: column;
  flex: 1; /* Allow chat container to fill the available space */
}

/* Header */
.chat-header {
  background-color: #222;
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 2em;
  /* font-weight: bold; */
  text-align: left;
  flex-shrink: 0; /* Header does not shrink */
  position: fixed; /* Fixed position */
  top: 0; /* Stick to the top */
  width: 100%; /* Header width spans the full viewport width */
  z-index: 2; /* Ensures the header stays on top of other elements */
}

.chat-header {
  font-family: 'Pacifico', cursive; /* Now using Pacifico font */
}


/* Messages area */
.chat-messages {
  flex-grow: 1;
  padding: 20px;
  padding-top: 30px; /* Increased top padding to space out the welcome message */
  overflow-y: auto; /* Ensure this is set so the area can scroll */
  margin-top: 70px; /* Adjust the margin-top to account for the fixed header */
  margin-bottom: 70px; /* Adjust the margin-bottom to account for the fixed footer */
}

/* Footer */
.chat-footer {
  display: flex;
  padding: 10px;
  flex-shrink: 0;
  position: fixed; /* Fixed position */
  bottom: 0; /* Stick to the bottom */
  width: 100%; /* Footer width spans the full viewport width */
  z-index: 2; /* Ensures the footer stays on top of other elements */
}

/* Input and Send Button */
.input-message, .send-button {
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 12px;
}

.input-message {
  flex-grow: 1;
  padding-left: 20px; /* More space inside the input on the left */
  width: calc(100% - 40px - 60px); /* Adjust width */
  font-size: 16px; /* Set font size to at least 16px to prevent auto-zoom on mobile */
}



.send-button, .user-message {
  background-color: #AA182C; /* New color for messages and send button */
  color: white;
  cursor: pointer;
}

.send-button {
  padding: 5px 30px; /* Larger button */
  font-size: 1.1em; 
  /* ... other styles ... */
}

.send-button:hover {
  background-color: #0056b3;
}

/* Messages */
.bot-message, .user-message {
  padding: 10px;
  border-radius: 12px;
  word-wrap: break-word;
  width: fit-content; /* This will make the container fit the content's width */
  max-width: 80%; /* Set max-width to 80% */
  margin-bottom: 10px;
  display: block; /* Ensures each message appears on a new line */
}

.bot-message {
  background-color: #555;
  text-align: left;
  margin-left: 1px;
}

.user-message {
  text-align: left;
  margin-left: auto;
  margin-right: 1px;
}

/* Loading indicator */
.loading-indicator {
  color: #007bff;
  text-align: center;
  padding: 10px;
}

.chat-footer .input-message {
  margin-right: 10px; /* Adjust spacing between input and send button */
}

.chat-footer .send-button {
  margin-right: 20px; /* Adjust if necessary to avoid overlapping the scrollbar */
}

.chat-header img {
  margin-right: 15px; /* Increased right margin for spacing between logo and title */
  /* width: 50px; */
  width: 50px; /* Adjust the logo size on smaller screens */
  height: auto; /* Maintain aspect ratio */
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .chat-container {
    height: 100vh; /* Make sure the chat container fits the viewport height */
  }

  .chat-header, .chat-footer {
    padding: 10px; /* Reduce padding on smaller screens */
  }

  .chat-header {
    flex-direction: row; /* Stack logo and title vertically */
    align-items: flex-start; /* Align items to the start */
    align-items: center; /* This aligns items vertically in the center */
  }
  

  .chat-header img {
    margin-bottom: 0; /* Remove bottom margin from logo */
    margin-right: 10px; /* Ensure some space between logo and title */
  }

  .chat-messages {
    max-height: 82vh; /* Adjust the message area to be a percentage of the viewport height */
  }

  .chat-footer {
    max-height: 10vh;
  }

  /* .input-message {
    width: calc(100% - 20px); /* Adjust width for smaller screens
  } */
}

/* Header */
.chat-header {
  /* ... other styles ... */
  white-space: nowrap; /* Prevent the title from wrapping */
}

/* Responsive adjustments */
@media (max-width: 300px) {
  .chat-header {
    font-size: 1.35em; /* Smaller font size to fit on one line */
    padding: 10px; /* Adjust padding as necessary */
    /* justify-content: center; Center the items for better spacing */
  }
  
  .chat-header img {
    width: 38px; /* Adjust the logo size on smaller screens */
    height: auto; /* Maintain aspect ratio */
  }

  .chat-footer .input-message {
    font-size: 0.8em; /* Further reduce the font size on smaller screens */
  }

  .chat-footer .send-button {
    padding: 10px; /* Reduce padding on smaller screens */
    font-size: 0.85em;
  }

  .bot-message{
    margin-left: 1px; /* Reduce right margin for message alignment */
    font-size: 0.85em;
    /* max-width: 75%; */
  }

  .user-message {
    text-align: left;
    margin-right: 1px;
    font-size: 0.85em;
  }

  .chat-messages {
    margin-top: 55px; /* Adjust the top margin to decrease space below the header */
  }
}
